.home {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.display-body {
    display: flex;
    width: 100%;
    padding: 10px;
}

.games {
    width: 60%;
    padding: 5px;
}

.search-bar {
    margin-top: 20px;
    width: 400px;
    display: flex;
}

.search-button {
    margin: 0;
    width: 50px;
    background: #1D1F20;
    border: none;
}
.search-button:hover {
    background: crimson;
}

.next-button {
    float: right;
    margin: 10px;
}

.games-header {
    color: white;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 5px;
}

.filter-options {
    margin-left: 50px;
    width: 30%;
    height: 250px;
    padding: 10px;
    background-color: #1D1F20;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.filter-header {
    margin: 0;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    width: 100%;
    text-align: center;
    color: white;
}

.filter-dropdown-div {
    display: flex;
    flex-direction: column;
    width: 100%
}

.filter-dropdown {
    margin-top: 30px;
    width: 100%;
    background-color: #394046;
    color: #d0d1d2;
    border: 1px solid #0b0d0e;
    height: 35px;
    font-size: 14px;
}

.filter-button-div {
    margin-top: 10px;
    width: 100%;
}

.filter-button {
    width: 100%;
    padding: 6px 38px;
    background: crimson;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 16px;
    color: white;
}

.next-button {
    padding: 4px 10px;
    background: #1D1F20;
    color: white;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 10px;
    margin-top: 20px;
}
.next-button:hover {
    background-color: crimson;
    color: white;
    border: 1px solid crimson;
}

.search-input {
    width: 400px;
    height: 16px;
    border: none;
    padding: 8px 12px;
    font-size: 16px;
    color: white;
    background: #394046;
    outline: none;
}

.reset-button {
    width: 50px;
    margin-left: 10px;
    background: #1D1F20;
    border: transparent;
    color: white;
}
.reset-button:hover {
    background: crimson;
}

@keyframes blink {
    0% {
      opacity: .2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: .2;
    }
}

.loading {
    text-align: center;
    width: 100%;
}
.loading span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    font-size: 100px;
    text-align: center;
}

.loading span:nth-child(2) {
    animation-delay: .2s;
}

.loading span:nth-child(3) {
    animation-delay: .4s;
}