.home {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.display-body {
    display: flex;
    width: 100%;
    padding: 10px;
}

.games {
    width: 60%;
    padding: 5px;
}

.search-bar {
    margin-top: 20px;
    width: 350px;
    display: flex;
}

.search-button {
    margin: 0;
    width: 50px;
    background: #394046;
    border: none;
}

.next-button {
    float: right;
    margin: 10px;
}

.games-header {
    color: white;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 5px;
}

.filter-options {
    margin-left: 50px;
    width: 30%;
    height: 250px;
    padding: 10px;
    background-color: #1D1F20;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.filter-header {
    margin: 0;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    width: 100%;
    text-align: center;
    color: white;
}

.filter-dropdown-div {
    display: flex;
    flex-direction: column;
    width: 100%
}

.filter-dropdown {
    margin-top: 30px;
    width: 100%;
    background-color: #394046;
    color: #d0d1d2;
    border: 1px solid #0b0d0e;
    height: 35px;
    font-size: 14px;
}

.filter-button-div {
    margin-top: 10px;
    width: 100%;
}

.filter-button {
    width: 100%;
    padding: 6px 38px;
    background: crimson;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 16px;
    color: white;
}

.next-button {
    padding: 4px 10px;
    background: #1D1F20;
    color: white;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 10px;
    margin-top: 20px;
}
.next-button:hover {
    background-color: crimson;
    color: white;
    border: 1px solid crimson;
}

.search-input {
    width: 400px;
    height: 16px;
    border: none;
    padding: 8px 12px;
    font-size: 16px;
    color: white;
    background: #394046;
    outline: none;
}

select > option {
    background-color: crimson;
}



/* 
html, body {
    background: #222;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
.view {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-perspective: 400;
            perspective: 400;
  }
  
  .plane {
    width: 120px;
    height: 120px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  .plane.main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-transform: rotateX(60deg) rotateZ(-30deg);
            transform: rotateX(60deg) rotateZ(-30deg);
    -webkit-animation: rotate 20s infinite linear;
            animation: rotate 20s infinite linear;
  }
  .plane.main .circle {
    width: 120px;
    height: 120px;
    position: absolute;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    border-radius: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 60px crimson, inset 0 0 60px crimson;
  }
  .plane.main .circle::before, .plane.main .circle::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 10%;
    height: 10%;
    border-radius: 100%;
    background: crimson;
    box-sizing: border-box;
    box-shadow: 0 0 60px 2px crimson;
  }
  .plane.main .circle::before {
    -webkit-transform: translateZ(-90px);
            transform: translateZ(-90px);
  }
  .plane.main .circle::after {
    -webkit-transform: translateZ(90px);
            transform: translateZ(90px);
  }
  .plane.main .circle:nth-child(1) {
    -webkit-transform: rotateZ(72deg) rotateX(63.435deg);
            transform: rotateZ(72deg) rotateX(63.435deg);
  }
  .plane.main .circle:nth-child(2) {
    -webkit-transform: rotateZ(144deg) rotateX(63.435deg);
            transform: rotateZ(144deg) rotateX(63.435deg);
  }
  .plane.main .circle:nth-child(3) {
    -webkit-transform: rotateZ(216deg) rotateX(63.435deg);
            transform: rotateZ(216deg) rotateX(63.435deg);
  }
  .plane.main .circle:nth-child(4) {
    -webkit-transform: rotateZ(288deg) rotateX(63.435deg);
            transform: rotateZ(288deg) rotateX(63.435deg);
  }
  .plane.main .circle:nth-child(5) {
    -webkit-transform: rotateZ(360deg) rotateX(63.435deg);
            transform: rotateZ(360deg) rotateX(63.435deg);
  }
  
  @-webkit-keyframes rotate {
    0% {
      -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
              transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    100% {
      -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
              transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate {
    0% {
      -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
              transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    100% {
      -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
              transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
  } */