.game {
    color: white;
    display: flex;
    align-items: center;
    margin-top: 40px;
    background-color: #1D1F20;
    height: 520px;
    width: 100%;
    padding: 5px;
}

.game-description {
    width: 1000px;
    height: 380px;
    overflow: auto;
    background-color: #1D1F20;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    margin-top: 0;
    margin-left: 50px;
}
.game-description::-webkit-scrollbar { width: 0 !important }

.game-image {
    height: 90%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
}

.game-name {
    margin: 0;
    border-bottom: 1px solid grey;
    width: 100%;
    text-align: center;
}

.add-btn {
    /* padding: 4px 8px; */
    background: #394046;
    color: white;
    border: 1px solid #394046;
    border-radius: 3px;
    font-size: 10px;
    width: 75px;
    height: 25px;
    margin-top: 5px;
}
.add-btn:hover {
    background-color: crimson;
    border: 1px solid crimson;
    color: white;
}

.desc-text {
    line-height: 2;
}

.game-info {
    border-top: 1px solid grey;
    width: 100%;
}

.price-div {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    border-top: 1px solid grey;
    height: 35px;
}

.price {
    font-size: 18px;
    margin-right: auto;
}