.register-form {
    display: flex;
    margin: 40px auto;
    width: 400px;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    padding: 12px;
    margin-top: 80px;
    background: #fff;
    box-shadow: 2px 2px 3px black;
}

.form-header {
    text-align: center;
}

.input-div {
    margin-bottom: 18px;
    box-sizing: border-box;
}

.input-header {
    margin: 0;
}

.register-input {
    background-color: rgb(250, 255, 189);
    box-sizing: border-box;
    height: 35px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    width: 97%;
    font-size: 18px;
    border-radius: 3px;
    outline: none;
    box-shadow: 1px 2px 3px #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}
.register-input:focus {
    box-shadow: 1px 2px 3px #cfd7df;
}

.register-btn {
    padding: 6px 38px;
    color: white;
    background: #1D1F20;
    border: 1px solid grey;
    border-radius: 3px;
    font-size: 16px;
}

.register-btn:hover {
    background-color: crimson;
    color: white;
    border: 1px solid crimson;
}

.error-message {
    color: red;
    font-size: 14px;
}

.error-message-div {
    width: 400px;
    background-color: #ffdce0;
    color: #86181d;
    margin: 0 auto 10px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
}

.error-button {
    background: transparent;
    border: none;
    font-size: 16px;
}

@keyframes blink {
    0% {
      opacity: .2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: .2;
    }
}

.saving {
    /* text-align: center; */
    width: 15%;
    padding: 0;
}
.saving span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    font-size: 40px;
}

.saving span:nth-child(2) {
    animation-delay: .2s;
}

.saving span:nth-child(3) {
    animation-delay: .4s;
}

/* .loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid crimson;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} */
